{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "compiler": "0.8.17",
        "singleQuote": false,
        "printWidth": 120,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": true,
        "semi": false,
        "singleQuote": false,
        "quoteProps": "as-needed",
        "trailingComma": "all",
        "bracketSpacing": true,
        "arrowParens": "always",
        "proseWrap": "preserve",
        "endOfLine": "lf"
      }
    }
  ]
}